<header class="p-4 border-b-2 border-ms-pink border-groove bg-ms-dark-purple">
    <div>
        <h1 class="text-ms-pink text-center text-[3rem]">MusicStore</h1>
    </div>

    <div class="mt-[20px]">
        <form>
            <div class="border-2 border-zinc-500 rounded-full flex justify-between bg-white">
                <input class="pl-4 rounded-full input focus:outline-none" type="text" placeholder="Busque aqui seu produto">
                <button> 
                    <div class="w-[30px] h-[30px] svg__bg--purple svg--white svg--size-15 rounded-full flex justify-center items-center" w3-include-html="./partials/svgs/search.html"></div>
                </button>
            </div>
        </form>
    </div>

    <nav class="flex justify-center mt-[20px]">
        <a>
            <div id="ms-mobile-hamb" class="w-[30px] h-[30px] mr-7 svg--white svg--size-20 rounded-full flex justify-center items-center" w3-include-html="./partials/svgs/hamburguer.html"></div>
        </a>

        <a>
            <div class="w-[30px] h-[30px] mr-7 svg--white svg--size-20 rounded-full flex justify-center items-center" w3-include-html="./partials/svgs/profile.html"></div>
        </a>

        <a>
            <div class="w-[30px] h-[30px] mr-7 svg--white svg--size-20 rounded-full flex justify-center items-center" w3-include-html="./partials/svgs/heart.html"></div>
        </a>

        <a>
            <div class="w-[30px] h-[30px] svg--white svg--size-20 rounded-full flex justify-center items-center" w3-include-html="./partials/svgs/cart.html"></div>
        </a>
    </nav>
</header>