.svg--white svg {
    fill: white;
}

.svg--purple svg {
    fill: #8a2be2;
}

.svg__bg--purple {
    background-color: #8a2be2;
}

.svg--size-15 svg {
    width: 15px;
}

.svg--size-20 svg {
    width: 20px;
}

.svg--size-22 svg {
    width: 22px;
}

.svg--size-40 svg {
    width: 40px;
}